{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="wuwujun">

    <title>{% block title %}医疗诊断辅助系统{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'AiServer/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'AiServer/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'AiServer/css/google-fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'AiServer/css/index.css' %}">

  </head>
  <body style="background: #333
		/*url(http://om107w423.bkt.clouddn.com/patrick-tomasso-71909.jpg)*/
		url('{% static 'AiServer/img/index.jpg' %}')
		no-repeat center center fixed;">
    <header>
        {% block header %}
<div class="overlay"></div>
  <nav class="navbar navbar-default navbar-fixed-top my-navbar" role="navigation">
    <div class="container-fluid container my-nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">医疗诊断辅助系统</span>
      </div>
      <div id="menu" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right my-navbar-menu">
          <li>
                <a rel="nofollow" rel="noreferrer" href="">用户&nbsp{{ user.username }}您好！</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
        {% endblock %}
    </header>
    <!-- main content start-->
    <!-- about-me-section start-->
    <section>
     {% block section %}
     {% endblock %}
    </section>

    <footer>
        {% block footer%}
                    <div class="fixed-footer">
  <div class="row">
    <div class="col-sm-6">
      <div class="fixed-footer-left">
        <ul>
          <li>
            <span style="font-size: 13px;">
              <i class="fa fa-copyright"></i>
              这个名字最帅对不对  2017
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="fixed-footer-right">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
        {% endblock %}
    </footer>
        {% block window %}
        {% endblock %}
    <script type="text/javascript" src="{% static 'AiServer/js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'AiServer/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'AiServer/js/index.js' %}"></script>
        {% block js %}
        {% endblock %}
  </body>
</html>
