{% extends "base.ejs" %}
{% load staticfiles %}
{% block header %}
{% include "follow-header.ejs" %}
{% endblock %}
{% block section %}
      <div id="newlog-section">
      <div class="container">
        <div class="row">
          <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">历史分析结果</h4>
            </div>
            <div class="panel-body">
              <div class="table-responsive table-bordered">
              {% if all_result %}
                <table class="table table-hover">
                  <tr>
                    <td>疾病类型</td>
                    <td>病历详情</td>
                    <td>查询时间</td>
                    <td>患病概率</td>
                    <td>是否反馈</td>
                    <td>反馈结果</td>
                  </tr>
                    {% for rst in all_result %}
                  <tr>
                    <td>{% if rst.disease_id == 1  %}{{ rst.heartdisease.name }}{% elif rst.disease_id == 2 %}{{ rst.chronickidneydisease.name }}{% endif %}</td>
                    <td><a type="button" href="/detail/{{ rst.id }}" class="btn btn-primary btn-xs">查看</a></td>
                    <td>{{ rst.date }}</td>
                    <td>{{ rst.result|floatformat:"4" }}
{#                        {% if rst.disease_id == 1  %}#}
{#                            {% if rst.result == 0 %}#}
{#                                未患心脏病#}
{#                            {% else%}#}
{#                                可能患有心脏病，请及时到医院诊断#}
{#                            {% endif %}#}
{#                        {% elif rst.disease_id == 2 %}#}
{#                            {% if rst.result == 0 %}#}
{#                                未患慢性肾炎#}
{#                            {% else%}#}
{#                                可能患有慢性肾炎，请及时到医院诊断#}
{#                            {% endif %}#}
{#                        {% endif %}#}
                    </td>
                  {% if rst.back_result == -1 %}
                    <td>未反馈</td>
                    <td><a href="/Feedback/{{ rst.id }}" type="button" class="btn btn-success btn-xs">点击反馈</a></td>
                  </tr>
                    {% else %}
                        <td>已反馈</td>
                        <td>{% if rst.back_result == 1 %}
                                结果有误
                            {% else%}
                                结果准确
                            {% endif %}
{#                            {% if rst.disease_id == 1  %}#}
{#                            {% if rst.back_result == 0 %}#}
{#                                未患心脏病#}
{#                            {% else%}#}
{#                                可能患有心脏病，请及时到医院诊断#}
{#                            {% endif %}#}
{#                        {% elif rst.disease_id == 2 %}#}
{#                            {% if rst.back_result == 0 %}#}
{#                                未患慢性肾炎#}
{#                            {% else%}#}
{#                                可能患有慢性肾炎，请及时到医院诊断#}
{#                            {% endif %}#}
{#                        {% endif %}#}
                        </td>
                    {% endif %}
                    {% endfor %}
                </table>
              {% else %}
                  <h3 style="text-align: center">暂无诊断结果，点击右上角选择疾病进行诊断</h3>
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}

{% block window %}
  <div class="modal fade" id="myModal-3" tabindex="-1" 
       role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">评价
              <span id="sign-result" class="text-success"></span>
            </h4>
          </div>
          <div class="modal-body">
            <div class="contaniner">
              <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>根据您的实际诊疗结果，我们的系统给出的预判结果是否正确？</p>
                </div>
              </div>
            </div>        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">不正确</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">正确</button>
          </div>
        </div><!-- .modal-content end-->
      </div>
    </div><!-- .modal end -->
{% endblock %}