{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="wuwujun">

    <title>分析结果</title>
    <link rel="stylesheet" type="text/css" href="{% static 'AiServer/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'AiServer/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'AiServer/css/google-fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'AiServer/css/index.css' %}">

  </head>
  <body>
  <header><%- include('./follow-header.ejs') %></header>

  <div id="follow-section" class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-12">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>评价成功</strong> ，感谢您的反馈！
        </div>
        <div id="my-fans" class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">分析结果</h4>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <li class="list-group-item">
              <span class="label label-default pull-right">已评价</span>
                未患心脏病
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <footer>
      <div class="fixed-footer">
  <div class="row">
    <div class="col-sm-6">
      <div class="fixed-footer-left">
        <ul>
          <li>
            <span style="font-size: 13px;">
              <i class="fa fa-copyright"></i>
              这个名字最帅对不对  2017
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="fixed-footer-right">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

  </footer>
  <div class="modal fade" id="myModal-3" tabindex="-1" 
       role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">评价
              <span id="sign-result" class="text-success"></span>
            </h4>
          </div>
          <div class="modal-body">
            <div class="contaniner">
              <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>根据您的实际诊疗结果，我们的系统给出的预判结果是否正确？</p>
                </div>
              </div>
            </div>        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">不正确</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">正确</button>
          </div>
        </div><!-- .modal-content end-->
      </div>
    </div><!-- .modal end -->
  
  <script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/index.js"></script>

  </body>
</html>