<div class="fixed-footer">
  <div class="row">
    <div class="col-sm-6">
      <div class="fixed-footer-left">
        <ul>
          <li>
            <span style="font-size: 13px;">
              <i class="fa fa-copyright"></i>
              这个名字最帅对不对  2017 
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="fixed-footer-right">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>