<div class="overlay"></div>
  <nav class="navbar navbar-default navbar-fixed-top my-navbar" role="navigation">
    <div class="container-fluid container my-nav">
      <div class="navbar-header">
        <span class="navbar-brand">医疗诊断辅助系统</span>
      </div>

    </div>
  </nav>