{% extends "follow-page.ejs" %}
{% block section %}
     <div id="newlog-section">
      <div class="container">
        <div class="row">
          <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">预测结果</h4>
            </div>
            <div class="panel-body">
                <p>系统预测结果显示您患{% if type == 1 %}心脏病{% else %}肾炎的{% endif %}概率约为：<big style="color: red;">{{ predict }}</big></p>
                <p>{{ advice }}</p>
                <br>
                <br>
                <a href="/" style="float: right">《返回主页</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}